<!DOCTYPE html>
	<html>
    <head>
	        <title>Info Page</title>
	  </head>
    <body>
        <%t = Time.now%>

	        <h1> <%="The date is #{t.strftime('%A')}, #{t.strftime('%B')} 15, #{t.strftime('%G')}"%> </h1>
	  </body>
</html>
